#h2 {
    margin-top: -20px;
}

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin-top: 70px;
    transition: var(--transition);
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-primary);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: var(--color-black);
    transform: translateX(-10%);
    border-color: var(--color-primary);
    cursor: pointer;
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: white;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
}

#h {
    color: white;
    margin-top: 5px;
}


.button__send {
    width: 130px;
    height: 50px;
}
.send {
    display: flex;
    justify-content: start;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    background-color: var(--color-primary);
    width: 150px;
    padding-left: 19px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 10px;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.send:hover {
    transition: var(--transition);
    transform: translateY(-10%);
    background: black;
    color: white;
}


@media screen and (max-width: 1521px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-lg);
        padding: 0;
    }
}